
/* for tasksList part */

.tasks_list {
    font-family: sans-serif;
}

.tasks_list_title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 80px;
    opacity: 0.5;
}

.task_nofound_prompt {
    text-align: center;
    font-size: 20px;
    opacity: 0.6;
}

.tasks_list_form {
    width: 80%;
    margin:auto;
    text-align: left;
    margin-bottom: 20px;
    font-size: 20px;
    opacity: 0.6;
}

.tasks_list_items_display{
    width: 60%;
    margin:auto;
    text-align: left;
    margin-bottom: 20px;
    /* font-size: 20px; */
    opacity: 0.6;
}

.tasks_list_item {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.tasks_list_item_span_unchecked_important {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: red;
}

.tasks_list_item_span_checked_important {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24px;
    text-decoration: line-through;
    opacity: 0.6;
    font-weight: bold;
    color: red;
}
.tasks_list_item_span_unchecked {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
}

.tasks_list_item_span_checked {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
    text-decoration: line-through;
    opacity: 0.6;
}


.important_button svg {
    width: 14px;
    height: 14px;
    pointer-events: none;
}
.important_button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }

.delete_task_button svg {
    width: 14px;
    height: 14px;
    pointer-events: none;
}
.delete_task_button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }

.tasks_list_input {
    width: 80%;
    padding: 10px;
    border-radius: 4px;
    border: 3px solid orange;
    display: block;
    margin:auto;
    margin-bottom: 20px;
  }
